
RESULT of IPv4_MATH Library Test
===================================

Sample .................... {{sample}}              [ 10.1.1.8/24 ]
ip_addr(4) ................ {{sample|ip_addr(4)}}   [ 10.1.1.4/24 ]
ip_host(4) ................ {{sample|ip_host(4)}}   [ 10.1.1.4 ]
ip_plus(2) ................ {{sample|ip_plus(2)}}   [ 10.1.1.10 ]
ip_suffix() ............... {{sample|ip_suffix()}}  [ /24 ]
ip_prefix() ............... {{sample|ip_prefix()}}  [ 24 ]
ip_mask() ................. {{sample|ip_mask()}}    [ 255.255.255.0 ]
ip_wild() ................. {{sample|ip_wild()}}    [ 0.0.0.255 ]
ip_network() .............. {{sample|ip_network()}} [ 10.1.1.0/24 ]
ip_netonly() .............. {{sample|ip_netonly()}} [ 10.1.1.0 ]
ip_bcast() ................ {{sample|ip_bcast()}}   [ 10.1.1.255 ]
ip_first() ................ {{sample|ip_first()}}   [ 10.1.1.1 ]
ip_first(2) ............... {{sample|ip_first(2)}}  [ 10.1.1.2 ]
ip_first(0) ............... {{sample|ip_first(0)}}  [ 10.1.1.0 ]
ip_last() ................. {{sample|ip_last()}}    [ 10.1.1.254 ]
ip_last() ................. {{sample|ip_last(3)}}   [ 10.1.1.252 ]
ip-last(0) ................ {{sample|ip_last(0)}}   [ 10.1.1.255 ] 

---
